<h2 class=page-header><%= @post.title %></h2>
<div><%= @post.body %></div>

<div id="comments"></div>
<div class="row">
<textarea id="input" class="form-input" cols=30 rows="5"></textarea>
<br />
<button id=submit>Submit Comment</button>
</div>

<script>
  window.postID = <%= @post.id %>;
  window.guardianToken = "<%= @conn.private[:guardian_default_jwt]  || ""  %>";
</script>
